body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{
  display: flex;
  justify-content: space-around;
}

body {
  background-color: #30bb76;
}
.cartIcon{
  width: 70px;
}


.block {
  background-color: rgb(248, 244, 244);
  padding: 20px;
}

.categoryButtonSelected{
background-color: green;
}

.categoryButton {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.categoryButton:hover {
  background-color: #fdeb6b;

}

.icon{
  width: 20px;
}

p, h1, h2, button {

  font-family: 'Poppins', sans-serif;

  font-size: 18px;

}

h1{
  text-transform: uppercase;
  text-shadow: black 1px 1px;
  font-size: 20px;
}

button {

  background-color: #fdeb6b;
  border: none;
  border-radius: 12px;
  padding: 10px;

  margin-top: 40px;

  margin-left: 10px;

}
.foto{
  width: 500px;
}

@media all and (max-width:500px){
  
.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.foto{
  width: 200px;
  border-radius: 10%;
}
h1, p, h2, h3, button, span{
  font-size:10px;
}
.cartIcon {
  align-self: center;
  width:30px;
}
}
